footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    width: 90vw;
    margin: 0 auto;

    @include responsive(tablet) {
        flex-direction: column;
        gap: 3rem;
        justify-content: center;
    }

    .left {

        p {
            color: #ffffff;
            font-size: 1.5rem;
        }

        input {
            background-color: $red;
            text-transform: uppercase;
            padding: 1.5rem 3rem;
            border-radius: 3rem;
            margin-top: 1rem;
            border: none;

            &:hover {
                border: 1px solid $yellow;
            }

            &::placeholder {
                color: $yellow;
                font-weight: bold;
            }
        }

        button {
            background-color: $red;
            color: $yellow;
            border-radius: 3rem;
            padding: 1.5rem 1rem;
            font-size: 1.3rem;
            border: none;
            text-transform: uppercase;
            margin: 0 1rem;
            cursor: pointer;
            transition: ease all 500ms;

            &:hover {
                color: $red;
                background-color: $yellow;
                box-shadow: 0px 0px 20px $yellow;
            }
        }
    }

    .right {
        display: flex;
        align-items: center;
        gap: 2rem;

        @include responsive(tablet) {
            gap: 1rem;
        }

        i {
            background-color: $red;
            padding: 1rem;
            font-size: 2rem;
            border-radius: 50%;
            text-align: center;
            cursor: pointer;
            @include hover;
            color: $yellow;
        }
    }
}


.copy {
    margin-top: 3rem;
    text-align: center;
    color: $yellow;
    font-weight: bold;

    a {
        color: $yellow;

        &:hover {
            color: $red;
        }
    }
}