.video {
    margin: 5rem 0;

    iframe {
        width: 90vw;
        height: 90vh;
        display: block;
        margin: 0 auto;

        @include responsive(pc) {
            height: 50vh;
        }
    }
}